<%- include('partials/boilerplate') %>
<body class = "show-weapon">
    <h1 class = "index-header" style="background-color: black;" >Weapon show page</h1>
    <% if (weapon) { %>
        <p style = "color: greenyellow; font-size: 70px; background-color: black;"><%= weapon.name %> </p>
        <p style = "color: greenyellow; font-size: 20px; background-color: black;"><%= weapon.description %></p>
        <img src=<%= weapon.img %> />

    <% } %>
</body>
</html>