<%- include('../partials/boilerplate') %>
<body class='title'>
    <h1 class = 'title'>The Game of War..in Space</h1><br><br>
    <nav>
        <a href="/warriors/signup">Sign up</a><br><br>
        <a href="/warriors/login">Log in</a><br><br>
    </nav>
</body>
</html>