<%- include('../partials/boilerplate') %>
<body class="title">

    <div class = "main-center">
        
        <h1 class = "header">The Game of War..in Space</h1><br><br>
        <nav>
            <a  href="/warriors/signup" style ="text-decoration: none; 
            color: white; font-size: 35px;">Sign up</a><br><br>
            <a  href="/warriors/login" style ="text-decoration: none; 
            color:white; font-size: 35px;">Log in</a><br><br>
        </nav>

    </div>
</body>
</html>