<%- include('../partials/boilerplate') %>
<body class="login">
    <div class= "login-center">
        <h1>Welcome Back, Warrior!</h1>
        <form action ='/warriors/login' method="POST">
            Username: <input class="login-input" type="text" name="username" /><br> <br>
            Password: <input class="login-input" type="text" name="password" /><br> <br>
            <input class = "login-update" type="submit" value="Login"/><br> <br>
        </form>
    </div>
    
</body>
</html>