<%- include('../partials/boilerplate') %>
<body class = "signup">
    <div class ="main-center">
            <h1 class="signup-header">Sign up, New Warrior!!</h1>
            
            <form style ="text-decoration: none; 
            color: white; font-size: 35px;" action="/warriors" method="POST">
                Name: <input class ="signup-input" type="text" name="name" /><br> <br>
                Username: <input class ="signup-input" type="text" name="username" /><br> <br>
                Password: <input class ="signup-input"  type="text" name="password" /><br> <br>
                <input class= "signup-submit" type="submit" value="LET'S BEGIN!" /><br> <br>
                
            </form>
        
    </div>
</body>
</html>